<h4 *ngIf="!auth.authenticated()">You're not logged in</h4>
<div class="container" *ngIf="authenticateUsers(profile)">
 <p>Welcome {{profile.nickname}}</p>
 
 <div class="container">
    <h4>Add Review</h4>

    <form [formGroup]="ReviewForm" novalidate (ngSubmit)="save(myForm)">
    <!-- we will place our fields here -->

    <!-- Main Page -->
    <div class="form-group">
        <label>Movie Title:</label>
        <input type="text" formControlName="title">
    </div>

  

<div class="form-group" enctype="multipart/form-data">
        <label>Image Url:</label>
        <input type="file" ng2FileSelect [uploader]="uploader" formControlName="imgUrl" accept="image/*;capture=camera">
    </div>

    <div class="form-group">
        <label>Text:</label>
        <input type="text" formControlName="text">
    </div>

 <div class="form-group">
        <label>Description:</label>
        <input type="text" formControlName="description">
    </div>

    <div class="form-group">
        <label>Reviewer:</label>
        <input type="text" formControlName="reviewer">
    </div>


    <div class="form-group">
        <label>Rating:</label>
        <input type="text" formControlName="rating">
    </div>
  
 <!-- Review wall Group -->

  <div class="form-group" >

    <div class="form-group" enctype="multipart/form-data">
        <label>Wall Image Url:</label>
        <input type="file" ng2FileSelect [uploader]="uploader" formControlName="wallImgUrl" accept="image/*;capture=camera">
    </div>

    <div class="form-group">
        <label>Tagline:</label>
        <input type="text" formControlName="tagline">
    </div>

    <div class="form-group">
        <label>Watchable:</label>
        <input type="text" formControlName="watchable">
    </div>

  </div>
  

  
     
    <button type="submit"  class="btn btn-success" >Submit</button>
</form>

</div>


 

</div>