<div class="container">
    <h4>Edit customer</h4>

    <form [formGroup]="ReviewForm" novalidate (ngSubmit)="save(myForm)"  *ngIf="review">
    <!-- we will place our fields here -->

    <!-- Main Page -->
    <div class="form-group">
        <label>Movie Title: </label>
        <input type="text" [value]="review.title" formControlName="title">
    </div>

  
    <div class="form-group">
        <label>Image URL:</label>
        <input type="text" formControlName="imgUrl">
    </div>


    <div class="form-group">
        <label>Description:</label>
        <input type="text" [value]="review.text" formControlName="text">
    </div>


    <div class="form-group">
        <label>Reviewer:</label>
        <input type="text" [value]="review.reviewer" formControlName="reviewer">
    </div>


    <div class="form-group">
        <label>Timestamp:</label>
        <input type="text" [value]="review.timestamp" formControlName="timestamp">
    </div>


    <div class="form-group">
        <label>Rating:</label>
        <input type="text" [value]="review.rating" formControlName="rating">
    </div>
  
 <!-- Review wall Group -->

  <div class="form-group" >

    <div class="form-group" enctype="multipart/form-data">
        <label>Wall Image Url:</label>
        <input (change)="fileChangeEvent($event)" type="file" formControlName="wallImgUrl" id="fileInput">
    </div>

    <div class="form-group">
        <label>Tagline:</label>
        <input type="text" [value]="review.reviewwall.tagline" formControlName="tagline">
    </div>

    <div class="form-group">
        <label>Watchable:</label>
        <input type="text" [value]="review.reviewwall.watchable" formControlName="watchable">
    </div>

  </div>
  

   <!-- list of otherRatings -->
    <div formArrayName="otherRatings">
        <div *ngFor="let ratings of ReviewForm.controls.otherRatings.controls; let i=index">
            <!-- address header, show remove button when more than one address available -->
            <div>
                <span>Address {{i + 1}}</span>
                <span *ngIf="ReviewForm.controls.otherRatings.controls.length > 1" 
                    (click)="removeAddress(i)">
                </span>
            </div>

            <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
            <div [formGroupName]="i">
                <!--OtherRatings-->
                <div>
                    <label>Reviewer:</label>
                    <input type="text" formControlName="reviewer">
                </div>
            
                <div>
                    <label>Rating:</label>
                    <input type="text" formControlName="rating">
                </div>

                <div>
                    <label>Img Url:</label>
                    <input type="file" formControlName="otherReviewImgUrl">
                </div>
            
    </div>
        </div>
    </div>
 


   <button (click)="addAddress()" type="button" class="btn btn-primary" >Add another</button>
   <br>
    <button type="submit" class="btn btn-success" >Submit</button>
</form>

</div>